<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <div class="body-container">
        <section class="left-content">
            <div class="container">
                <%- include("./partials/nav") %>
            </div>
        </section>
        <section class="right-content">
            <div class="header-container">
                <%- include("./partials/header") %>
            </div>
            <div class="main-container">
                <main class="main-content">
                    <h2><%= title %></h2>
                    <div class="dash-content">
                        Some text here
                    </div>
                </main>
            </div>
        </section>
    </div>
    <script src="/js/resp.js"></script>
</body>
</html>