<aside class="sidebar">
    <div class="side-container">
        <h2>Browse our popular charts</h2>
    </div>
    <div class="side-container">
        <article>
            <h3>Some title here</h3>
            <img src="/images/bar-chart-example-1.png" alt="">
            <a href="/chart1">View chart from example ltd</a>
        </article>
        <article>
            <h3>Some other title here</h3>
            <img src="/images/Control-Charts.jpg" alt="">
            <a href="/chart2">View chart from example org</a>
        </article>
        <article>
            <h3>Some third title here</h3>
            <img src="/images/Piechart1.png" alt="">
            <a href="/chart3">View chart from another-example ltd</a>
        </article>
    </div>
    
</aside>