<div class="search-container">

    <div class="search-text" id="js-search-text">
        <i class="fa fa-search"></i>
        <p>Search</p>
    </div>

    <form action="#" id="the-form">
        <input type="text" name="search" placeholder="Type to search">
        <button type="submit" id="search-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<div class="profile-container">
    <i class="fa fa-bell"></i>
    <img src="/images/blank.png" alt="">
</div>