<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>

    <%- include("./partials/nav") %>
    <div class="container" id="main-container">
        
        <section class="content">
            <main class="main-content">
                <h1 id="about-title">About Us</h1>
                <article class="art-main about-art">
                    <img src="/images/Screenshot (2).png" alt="">
                    <p>We are a team of developers aiming at providing the general public, a chance to create and showcase their information through amazing charts!</p>
                    <p>Formed in 2023, this team of 4 work tirelessly to give you great content without you losing a minute of sleep. Just leave everything to us and take that vacation!</p>
                    <p>Your bosses won't know we did your work. Promise.</p>
                </article>
                <article class="art-second about-article special">
                    <h2>What we offer</h2>
                    <p>Chartify is solely aimed at creating charts for it's users. You do not need an account to have your chart created.</p>
                    <p>We won't send you annoying emails and we certainly won't invade your privacy.</p>
                    
                </article>
                <article class="art-second about-article">
                    <h2>Promotions</h2>
                    <p>Unfortunately, we are not offering any promotions right now. But come again in a few weeks and we might have a surprise for you</p>
                    <p>We are planning on expanding our functionalities soon. Watch out for new exciting features coming your way! We will keep you updated.</p>
                    
                </article>
                <article class="art-second">
                    <div>
                        <h3>Join Us Today!</h3>
                        <p>Millions of users and thousands of companies use Chartify to create exquisite charts for their businesses, or simply for fun.</p>
                    </div>
                    <img src="/images/Control-Charts.jpg" alt="a chart here">
                </article>
                
                <p class="extra">We know no limits. You dream it, we chart it!</p>
                
                
            </main>
            <%- include("./partials/aside") %>
        </section>
        
    </div>
    <%- include("./partials/footer") %>
</body>
</html>