<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>

    <%- include("./partials/nav") %>
    <div class="container" id="main-container">
        
        <section class="content">
            <main class="main-content">
                <article class="art-main">
                    <h2>View your info in chart form!</h2>
                    <img src="/images/charts.jpg" alt="">
                    <p>Have data that you want to be expressed as a chart and don't know where to go?</p>
                </article>
                <article class="art-second">
                    <img src="/images/charts.jpg" alt="">
                    <div>
                        <h3>Transform your unreadable data into charts today!</h3>
                        <p>Well, look no further! Chartify is here to turn your data into information!</p>
                    </div>
                    
                </article>
                <article class="art-second">
                    <div>
                        <h3>Join Us Today!</h3>
                        <p>Millions of users and thousands of companies use Chartify to create exquisite charts for their businesses, or simply for fun.</p>
                    </div>
                    <img src="/images/Control-Charts.jpg" alt="a chart here">
                </article>
                
                <p class="extra">We know no limits. You dream it, we chart it!</p>
                <div class="questions">
                    <div class="title">
                        <h2>Frequently Asked Questions</h2>
                    </div>
                    <div class="section-center">
                        <article class="question">
                            <div class="question-title">
                                <p>do you accept all major credit cards?</p>
                                <button type="button" class="question-btn">
                                    <span class="plus-icon">
                                        <i class="fa fa-plus-square"></i>
                                    </span>
                                    <span class="minus-icon">
                                        <i class="fa fa-minus-square"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="question-text">
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                                dolore illo dolores quia nemo doloribus quaerat, magni numquam
                                repellat reprehenderit.
                                </p>
                            </div>
                        </article>
                        <article class="question">
                            <div class="question-title">
                                <p>do you suppport local farmers?</p>
                                <button type="button" class="question-btn">
                                    <span class="plus-icon">
                                        <i class="fa fa-plus-square"></i>
                                    </span>
                                    <span class="minus-icon">
                                        <i class="fa fa-minus-square"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="question-text">
                                <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                                dolore illo dolores quia nemo doloribus quaerat, magni numquam
                                repellat reprehenderit.
                                </p>
                            </div>
                        </article>
                        <article class="question">
                            <div class="question-title">
                                <p>do you use organic ingredients?</p>
                                <button type="button" class="question-btn">
                                    <span class="plus-icon">
                                        <i class="fa fa-plus-square"></i>
                                    </span>
                                    <span class="minus-icon">
                                        <i class="fa fa-minus-square"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="question-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est
                                    dolore illo dolores quia nemo doloribus quaerat, magni numquam
                                    repellat reprehenderit.
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
                
            </main>
            <%- include("./partials/aside") %>
        </section>
        
    </div>
    <%- include("./partials/footer") %>
    <script src="/js/questions.js"></script>
</body>
</html>